{{ if .Site.Params.topbar.enable }}
<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
<!--
        <div class="language">
          {{ i18n "language" }}:
          <select onchange="location = this.options[this.selectedIndex].value;">
              <option value="{{ .Site.BaseURL }}{{ .LanguagePrefix}}" data-content=" {{ .Language.LanguageName }}">{{ .Language.LanguageName }}</option>
              {{ range .Translations }}
              <option value="{{ .Site.BaseURL }}{{ .LanguagePrefix}}" data-content=" {{ .Language.LanguageName }}">{{ .Language.LanguageName }}</option>
              {{ end}}
          </select>
        </div>
-->
      </div>
      <div class="col-xs-7">
        <div class="social">
          {{ range .Site.Menus.topbar.ByWeight }}
          <a href="{{ .URL | safeURL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
